{% extends 'Main/base.html' %}

{% block pageheader %}
<div class="homepage">
<div class="mask" style="background-color: rgba(0, 0, 0, 0.6)">
<section class="cover bg-black text-white overflow-hidden">
      <div class="container foreground">
        <div class="row align-items-center justify-content-center vh-100">
          <div class="col-lg-10 text-center text-shadow">
            <h4 class="eyebrow text-secondary"><span class="eyebrow text-secondary font-weight-bold">Version 1.0</span></h4>
            <h1 class="display-1 font-weight-bold mt-2 mb-5">Investing <span class="d-lg-block">Made Simple</span></h1>
              <a  class="btn btn-primary btn-lg">Large button</a>
              <a class="btn btn-secondary btn-lg">Large button</a>
          </div>
        </div>
      </div>


      <span class="scroll-down"></span>
    </section>
</div>
</div>

{% endblock %}

{% block title %}
    Home
{% endblock %}